.form-filters {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-filter-field {
  position: relative;

  display: inline-block;
  width: 25%;
}

table {
  width: 100%;
}

.operations {
  position: relative;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
}

.operation-update,
.operation-remove {
  position: relative;

  margin-right: 0.25rem;
}

@media (max-width: 780px) {
  .form-filters {
    flex-direction: column;
  }

  .form-filter-field {
    display: block;
    width: 100%;
  }
}
