.page-holder {
  position: relative;

  display: block;
  width: 95%;
  margin: 1rem auto;
}

.page-title {
  position: relative;

  display: block;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form-filters {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-filter-field {
  position: relative;

  display: inline-block;
  width: 20%;
}

.table {
  position: relative;

  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.table-header {
  padding: 1rem;
}

.table-body-row,
.table-header {
  position: relative;

  display: flex;
  flex-direction: row;
}

.table-body-item,
.table-header-column {
  position: relative;

  display: inline-block;
  flex-grow: 1;
  max-width: 20%;
  text-overflow: hidden;
}

.table-body-row {
  border-top: 1px solid #ccc;
  padding: 0.8rem 1rem;
}

.table-body-row-visible {
  display: flex;
}

.table-body-row-hidden {
  display: none;
}

.form-filter-buttons {
  position: relative;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.operations {
  position: relative;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
}

.operation-update,
.operation-remove {
  position: relative;

  margin-right: 0.25rem;

  cursor: pointer;
}

@media (max-width: 780px) {
  .form-filters {
    flex-direction: column;
  }

  .form-filter-field {
    display: block;
    width: 100%;
  }
}
