<section [className]="'page-holder'">
  <div [className]="'page-title'">Database users</div>
  <form [formGroup]="form" (ngSubmit)="filterData()">
    <section class="form-filters">
      <mat-form-field [className]="'form-filter-field'">
        <mat-label>Role: </mat-label>
        <mat-select
          name="role"
          formControlName="role"
          (selectionChange)="filterData()"
        >
          <mat-option [value]="item.key" *ngFor="let item of positions">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [className]="'form-filter-field'">
        <input
          matInput
          placeholder="First name"
          type="text"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field [className]="'form-filter-field'">
        <input
          matInput
          placeholder="Last Name"
          type="text"
          formControlName="lastName"
        />
      </mat-form-field>

      <mat-form-field [className]="'form-filter-field'">
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
        />
      </mat-form-field>

      <section [className]="'form-filter-field form-filter-buttons'">
        <button type="submit" class="filterButton" mat-button color="primary">
          Filter
        </button>
      </section>
    </section>
  </form>

  <section [className]="'table'">
    <section [className]="'table-header'">
      <div
        *ngFor="let column of displayedColumns"
        [className]="'table-header-column'"
      >
        {{ column }}
      </div>
    </section>

    <section [className]="'table-body'">
      <section *ngFor="let user of users">
        <section
          [className]="
            user.isVisible
              ? 'table-body-row table-body-row-visible'
              : 'table-body-row table-body-row-hidden'
          "
        >
          <section [className]="'table-body-item'">
            {{ user.firstName }}
          </section>
          <section [className]="'table-body-item'">
            {{ user.lastName }}
          </section>
          <section [className]="'table-body-item'">
            {{ user.email }}
          </section>
          <section [className]="'table-body-item'">
            {{ roles.get(user.role) }}
          </section>
          <section [className]="'table-body-item'">
            <section [className]="'operations'">
              <div [className]="'operation-update'">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Edit edit icon"
                  (click)="openUpdateRecordDialog(user)"
                  >edit</mat-icon
                >
              </div>
              <div [className]="'operation-remove'">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Remove delete icon"
                  (click)="openListConformationDialog(user.email)"
                  >delete</mat-icon
                >
              </div>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
