table {
  width: 100%;
}

.form-filters {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-filter-field {
  position: relative;

  display: inline-block;
  width: 25%;
}

@media (max-width: 780px) {
  .form-filters {
    flex-direction: column;
  }

  .form-filter-field {
    display: block;
    width: 100%;
  }
}
