<section class="page-holder">
  <div class="page-title">Database users</div>
  <form [formGroup]="form" (ngSubmit)="filterData()">
    <section class="form-filters">
      <mat-form-field class="form-filter-field">
        <mat-label>Role: </mat-label>
        <mat-select
          name="role"
          formControlName="role"
          (selectionChange)="filterData()"
        >
          <mat-option [value]="item.key" *ngFor="let item of positions">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-filter-field">
        <input
          matInput
          placeholder="First name"
          type="text"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field class="form-filter-field">
        <input
          matInput
          placeholder="Last Name"
          type="text"
          formControlName="lastName"
        />
      </mat-form-field>

      <mat-form-field class="form-filter-field">
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
        />
      </mat-form-field>

      <section class="form-filter-field form-filter-buttons">
        <button type="submit" class="filterButton" mat-button color="primary">
          Filter
        </button>
      </section>
    </section>
  </form>

  <section class="table">
    <section class="table-header">
      <div *ngFor="let column of displayedColumns" class="table-header-column">
        {{ column }}
      </div>
    </section>

    <section class="table-body">
      <section *ngFor="let user of users">
        <section
          [className]="
            user.isVisible
              ? 'table-body-row table-body-row-visible'
              : 'table-body-row table-body-row-hidden'
          "
        >
          <section class="table-body-item">
            {{ user.firstName }}
          </section>
          <section class="table-body-item">
            {{ user.lastName }}
          </section>
          <section class="table-body-item">
            {{ user.email }}
          </section>
          <section class="table-body-item">
            {{ roles.get(user.role) }}
          </section>
          <section class="table-body-item">
            <section class="operations">
              <div class="operation-update">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Edit edit icon"
                  (click)="openUpdateRecordDialog(user)"
                  >edit</mat-icon
                >
              </div>
              <div class="operation-remove">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Remove delete icon"
                  (click)="openListConformationDialog(user.email)"
                  >delete</mat-icon
                >
              </div>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
