<section [className]="'form-field'">
  <div [className]="'form-title'">
    <mat-icon aria-hidden="false" aria-label="Account add icon">face</mat-icon>
    <span>Create an user</span>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <section [className]="'input-field'">
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          placeholder="First name"
          type="text"
          required
          formControlName="firstName"
        />
        <mat-error *ngIf=""></mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          placeholder="Last name"
          type="text"
          required
          formControlName="lastName"
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
          required
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>Role: </mat-label>
        <mat-select name="role" formControlName="role">
          <mat-option [value]="'artist'">Artist</mat-option>
          <mat-option [value]="'designer'">Designer</mat-option>
          <mat-option [value]="'art_manager'" *ngIf="!dbHasArtManager"
            >Art manager</mat-option
          >
        </mat-select>
      </mat-form-field>
    </section>

    {{ formErrorMessage }}

    <button>
      <mat-icon aria-hidden="false" aria-label="Add add icon">add</mat-icon
      >Create a new user
    </button>
  </form>
</section>
