<section class="form-field">
  <div class="form-title">
    <mat-icon aria-hidden="false" aria-label="Account add icon">face</mat-icon>
    <span class="form-title-text">Create an user</span>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <section class="input-field">
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          placeholder="First name"
          type="text"
          required
          (focusout)="validateFirstName($event)"
          formControlName="firstName"
        />
        <span class="form-message-output">
          {{ fieldErrors.firstName }}
        </span>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          placeholder="Last name"
          type="text"
          required
          (focusout)="validateLastName($event)"
          formControlName="lastName"
        />
        <span class="form-message-output">
          {{ fieldErrors.lastName }}
        </span>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
          required
          (focusout)="validateEmail($event)"
        />
        <span class="form-message-output">
          {{ fieldErrors.email }}
        </span>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>Role: </mat-label>
        <mat-select name="role" formControlName="role" required>
          <mat-option [value]="'artist'">Artist</mat-option>
          <mat-option [value]="'designer'">Designer</mat-option>
          <mat-option [value]="'art_manager'" *ngIf="!dbHasArtManager"
            >Art manager</mat-option
          >
        </mat-select>
      </mat-form-field>
    </section>

    <section class="form-message-output">
      {{ formErrorMessage }}
    </section>

    <button
      type="submit"
      mat-button
      color="primary"
      [disabled]="disableButtonIsActive()"
    >
      Create a new user
    </button>
  </form>
</section>
